<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">
	
	<select id="retireveAllBoard" resultType="Board">
		SELECT * FROM TB_BOARD
		ORDER BY GROUP_ID DESC, G_LEVEL ASC
	</select>
	
	<select id="findById" resultType="Board">
		SELECT * FROM TB_BOARD WHERE BNO = #{bno}
	</select>
	
	<insert id="createBoard" parameterType="Board">
		INSERT INTO TB_BOARD VALUES(
			(SELECT TO_CHAR(MAX(BNO)+1) FROM TB_BOARD),
			#{title},
			#{content},
			#{author},
			SYSDATE
		)
	</insert>
	
	<delete id="deleteBoard">
		DELETE FROM TB_BOARD WHERE BNO = #{bNo}
	</delete>
	
	<update id="updateById" parameterType="Board">
		UPDATE TB_BOARD SET TITLE = #{title}, CONTENT = #{content}, AUTHOR = #{author}
		WHERE BNO = #{bno}
	</update>
</mapper>